In [ ]:
import os
import pandas as pd

### Read a single month sales data

In [ ]:
df=pd.read_csv('./Sales_Data/Sales_April_2019.csv')
df.head()

### List all Sales data csv files

In [ ]:
files = [file for file in os.listdir('./Sales_Data')]
for file in files:
    print(file)

### Concatenate all csv files into one Sales data file

In [ ]:
files = [file for file in os.listdir('./Sales_Data')]
all_data_csv = pd.DataFrame()
for file in files:
   df=pd.read_csv('./Sales_Data/'+file)
   all_data_csv=pd.concat([all_data_csv,df])

all_data_csv = all_data_csv.to_csv('all_data_csv.csv',index=False)

### Read all data csv file to a data frame

In [ ]:
all_sales_data = pd.read_csv('./Sales_Data/all_data_csv.csv')
all_sales_data.head()

## Clean up the data!

##### Get all NaN rows in the dataframe

In [57]:
nan_df = all_sales_data[all_sales_data.isna().any(axis=1)]
nan_df.head()

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, Month]
Index: []

##### Drop NaN rows from the dataframe

In [56]:
all_sales_data=all_sales_data.dropna(how='all')
all_sales_data.head()

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, Month]
Index: []

In [54]:
all_sales_data.head(100)

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, Month]
Index: []

### Add month column to dataframe

In [ ]:
all_sales_data['Month']=all_sales_data['Order Date'].str[0:2]
all_sales_data.head()

## Data Analysis

### 1. What was the best month for sales?. How much was earned that month?